@model List<Phoenix01.Models.Hobby>

<form asp-controller="Hobby" asp-action="Index" method="post" class="form-horizontal" role="form">
    <fieldset class="form-group">
        <h3>Checkbox List</h3>
        <legend class="col-sm-3 control-label"></legend>
            <div class="checkbox checkboxlist col-sm-9">
                @{ 
                    for (int i = 0; i < Model.Count(); i++)
                    {
                        <input asp-for="@Model[i].checkboxAnswer" type="checkbox" />
                        <label asp-for="@Model[i].HobbyId">@Model[i].HobbyName</label>
                        <input asp-for="@Model[i].HobbyId" type="hidden" />
                        <input asp-for="@Model[i].HobbyName" type="hidden" />
                        <br />
                    }
                }

            </div>
        <div class="form-group">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
                    <input id="Sbumit" type="submit" value="Sbumit" />
             </div>
            </div>
        </div>
    </fieldset>
</form>
