@model ChatsViewModel

@if (Model.ChatList != null)
{
    @foreach (var item in Model.ChatList)
    {
        @Html.DisplayFor(modelItem => item.TimeStamp)


        <a asp-controller="Manage" asp-action="UserProfile" asp-route-id="@item.ApplicationUser.UserName">@Html.DisplayFor(modelItem => item.ApplicationUser.UserName):</a>
        <br />
        <a asp-controller="Manage" asp-action="UserProfile" asp-route-id="@item.ApplicationUser.UserImage">
            <img src="@(item.ApplicationUser.UserImage)" alt="User Image" style="max-width:40px;height:auto;border-radius:50%;" />
        </a>
        @Html.DisplayFor(modelItem => item.ChatMessage)
        <hr />
    }
}