@model ChatsViewModel

@if (Model.ChatList != null)
{
    @foreach (var item in Model.ChatList)
    {
        @Html.DisplayFor(modelItem => item.TimeStamp)


        <a asp-controller="PrivateChat" asp-action="Index" asp-route-id="@item.ApplicationUser.UserName" data-toggle="tooltip" title="Private chat">@Html.DisplayFor(modelItem => item.ApplicationUser.UserName)</a>
        <br />
        <a asp-controller="Manage" asp-action="UserProfile" asp-route-id="@item.ApplicationUser.UserName">
            <img src="@(item.ApplicationUser.UserImage)" alt="User Image" style="max-width:40px;height:auto;border-radius:50%;" />
        </a>
        @Html.DisplayFor(modelItem => item.ChatMessage)
        <hr />
    }
}

<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>