@model  IEnumerable<Phoenix01.Models.ManageViewModels.StoriesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

@*@item.LoggedInUser.UserName*@
<table class="table">

    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                @Html.DisplayFor(modelItem => item.StoryUser.UserName)

                <img src="@(item.StoryUser.UserImage)" alt="Sample Image" style="max-width:30px;height:auto;" />
            </tr>
            <tr>
                <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                <p><h4> @Html.DisplayFor(modelItem => item.StoryBody)</h4></p>
            </tr>
            <tr>
                ******************************************
                <a asp-action="Comment" asp-route-id="@item.ID">Comment</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                @if (item.LoggedInUser == item.StoryUser)
                {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                }
            </tr>
            <br><br><br><br>




        }
    </tbody>
   
</table>
<br />
