@model IEnumerable<StoriesViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StoryBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StoryBody)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ApplicationUser.FirstName)
                    @Html.DisplayFor(modelItem => item.ApplicationUser.LastName)
                </td>
                <td>
                    <a asp-controller="Manage" asp-action="UserProfile" asp-route-id="@item.ApplicationUser.UserName">
                        <img src="@(item.ApplicationUser.UserImage)" alt="Sample Image" style="max-width:40px;height:auto;border-radius:50%;" />
                    </a>
                </td>
               
                    <td>
                        
                       @if (item.ApplicationUser == item.LoggedInUser)
                         {
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a>
                                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                            </div>
                         }
                        <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                    </td>
            </tr>
        }
    </tbody>
</table>
