@model UserProfileViewModel
@using Phoenix01.Models.ManageViewModels;


@{
    ViewData["Title"] = "Edit Profile Details";
}

<h2>@ViewData["Title"]</h2>
<p class="text-success">@ViewData["StatusMessage"]</p>

<h1>
    <img src="@Model.UserImage" style="max-width:160px;height:auto; background: #FFFFFF;
    margin: auto;
    -moz-border-radius: 60px;
    border-radius: 100px;
    padding: 6px;
    box-shadow: 0px 0px 20px #888;" />
</h1>
<dt>Profile Picture:</dt>
<dd>
    @if (User.Identity.Name != null)
    {
        <div class="upimage">
            <div class="mngimg">
                <form asp-action="UploadPhoto" asp-controller="Manage" method="post" enctype="multipart/form-data">
                    <div class="btn btn-default browsing">
                        <input type="file" name="files" id="files" onchange="this.form.submit();" />
                    </div>
                </form>
            </div>
        </div>
    }
</dd>

<form asp-controller="Manage" asp-action="EditUserProfile" method="post" class="form-horizontal" asp-antiforgery="true" enctype="multipart/form-data">
    <hr />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="RegistrationDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="RegistrationDate" class="form-control" disabled />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="FirstName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MiddleName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MiddleName" class="form-control" />
            <span asp-validation-for="MiddleName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="LastName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="BirthDate" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BirthDate" class="form-control" />
            <span asp-validation-for="BirthDate"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="UserAge" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="UserAge" class="form-control" disabled />
            <span asp-validation-for="UserAge"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="StreetName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="StreetName" class="form-control" />
            <span asp-validation-for="StreetName"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Zip" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Zip" class="form-control" />
            <span asp-validation-for="Zip"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="City" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="City" class="form-control" />
            <span asp-validation-for="City"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="State" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="State" class="form-control" />
            <span asp-validation-for="State"></span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Country" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Country" class="form-control" />
            <span asp-validation-for="Country"></span>
        </div>
    </div>

    @Html.Partial("EditUserLanguages")

    @Html.DropDownListFor(s => s.LanguagesDropDown, Model.LanguagesDropDown);

    <div class="form-group">
        <label asp-for="ChosenLanguages" class="col-md-2 control-label"></label>
        <div id="editablePane"class="col-md-10">
               @Html.TextBoxFor(s => s.Width, new { @class = "myEditable", disabled = "disabled" })
            @Html.TextBoxFor(s => s.Height, new { @class = "myEditable", disabled = "disabled" })
        </div>

    </div>

    <div class="form-group">
        <label asp-for="ChosenHobbies" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.EditorFor(x => x.SelectedHobbies)
        </div>
        @Html.HiddenFor(x => x.Id)
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>

</form>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

<script type="text/javascript">
    $(function () {

        $("#AddUserLanguage").change(function () {

            var t = $(this).val();

            if (t !== "") {
                $.post("@Url.Action("GetDefault", "Manage")?val=" + t, function (res) {
                    if (res.Success === "true") {

                        //enable the text boxes and set the value

                        $("#Width").prop('disabled', false).val(Data.Width);
                        $("#Height").prop('disabled', false).val(Data.Height);

                    } else {
                        alert("Error getting data!");
                    }
                });
            } else {
                //Let's clear the values and disable :)
                $("input.editableItems").val('').prop('disabled', true);
            }

        });
    });

</script>